.App {
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.hr{
  background-color:#E62A1C;
  height: 2px;
}

/*Header*/
.header{
  background-image: url("https://image.freepik.com/vector-gratis/fondo-negro-abstracto-sombra-doblez-tecnologia_1408-563.jpg");
}

.profile-img{
  width: 15vw;
  height: 15vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  align-self: center;
}

.icon-img{
  width: 40px;
  height: 40px;
  flex-direction: column;
  margin: 2px;
}

.icon-img:hover{
  margin: 0px;
  padding: 3px;
}

.social-section{
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

/*Menu*/
.nav-button{
  color: #000 !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #E62A1C;
  border: 2px solid #000;
  transition: all 0.5s ease;
  position: relative;
}

.nav-button:hover{
  cursor: pointer;
  background: #990D03;
  color: #fff !important;
}

.title-primary{
  color:#000;
  /*color:#990D03*/
}

.color-secundary{
  color:#D1E632
  /*color: #0574E6;*/
}

/*Summary*/
.img-experience{
  width: 200px;
  height: 200px;
  min-width: 100px;
  min-height: 100px;
  margin: auto;
}

.reference-box{
  box-shadow: #000 1px 1px 5px;
  border-radius: 2%;
  margin: 5px;
  padding: 5px;
  height: auto;
}

.experience-box{
  box-shadow: #000 1px 1px 5px;
  margin: 5px;
  padding: 5px;
  height: auto;
}

.banner{
  width: 50%;
  min-width: 300px;
  height: 300px;
  display: block;
}

.row-box{
  display: flex;
}

/*Projects*/
.game-card{
  width: 20rem;
  margin: 1%;
  text-align: center;
}

.game-card-img{
  width: 100%;
  height: 40%;
}

.control-left{
  margin-left: -25px;
}

.control-right{
  margin-right: -25px;
}


/*Achievements*/
.achievement{
  border: 5px solid #000;
  height: auto;
}

.achievement-content{

}

.achievement-icon{
  width: 250px;
  height: 250px;
  margin: auto;
}

.achievement-title{
  margin-top: 25px;
  border-top: 5px solid #E62A1C;
  text-align: center;
}